alabaster==0.7.16
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
argcomplete==3.6.3
babel==2.18.0
Beaker==1.12.1
beautifulsoup4==4.14.3
blivet @ file:///builddir/build/BUILD/python-blivet-3.13.2-build/blivet-3.13.2
blosc2==3.12.0
Bottleneck==1.6.0
Brlapi==0.8.7
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cockpit @ file:///builddir/build/BUILD/cockpit-360.1-build/cockpit-360.1/tmp/wheel/cockpit-360.1-py3-none-any.whl#sha256=7ce868b58854dd32e336f23a9779654e5b0bfa20956c83c8331f25e6d706112c
contourpy==1.3.3
crypt_r==3.13.1
cryptography==48.0.0
cupshelpers==1.0
cycler==0.11.0
dasbus==1.7
dbus-python==1.4.0
dbus_next==0.2.3
defusedxml==0.7.1
distro==1.9.0
dlib @ file:///home/mathewshaldin/dlib
dnf==4.24.0
docutils==0.22.4
et_xmlfile==2.0.0
fastapi==0.136.1
fedora-third-party==0.10
file-magic==0.4.0
fonttools==4.62.1
fsspec==2026.6.0
greenlet==3.5.0
h11==0.16.0
html2text==2025.4.15
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
husl==4.0.3
idna==3.11
imagesize==1.4.1
iso639==0.1.4
Jinja2==3.1.6
kiwisolver==1.5.0
langtable==0.0.70
libcomps==0.1.24
libdnf==0.75.0
libdnf5==5.4.1.0
libevdev==0.13.1
louis==3.33.0
lxml==6.1.1
Mako==1.2.3
Markdown==3.10.2
MarkupSafe==3.0.2
matplotlib==3.10.8
meson==1.11.1
msgpack==1.1.2
ndindex==1.10.0
nftables==0.1
numexpr==2.14.1
numpy==2.4.4
numpydoc==1.9.0
odfpy==1.4.1
olefile==0.47
opencv==4.13.0
opencv-python==4.13.0.92
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
Paste==3.10.1
patsy==1.0.2
pexpect==4.9.0
pid==3.0.4
pillow==12.1.0
platformdirs==4.9.1
pooch==1.9.0
productmd==1.50
psutil==7.2.2
psycopg2==2.9.10
ptyprocess==0.7.0
pwquality==1.4.5
py-cpuinfo==9.0.0
pyarrow==23.0.1
PyAudio==0.2.13
pycairo==1.28.0
pycparser==2.22
pycrypto==2.6.1
pycups==2.0.4
pydantic==2.13.4
pydantic_core==2.46.4
pyenchant==3.3.0
Pygments==2.19.1
PyGObject==3.56.2
pykickstart @ file:///builddir/build/BUILD/pykickstart-3.69-build/pykickstart-3.69
PyMySQL==1.1.2
pyOpenSSL==26.1.0
pyparsing==3.1.2
pyparted==3.13.0
PyQt5==5.15.12.dev2507081429
PyQt5_sip==12.17.1
PySocks==1.7.1
python-augeas==1.2.0
python-bugzilla==3.3.0
python-dateutil==2.9.0.post0
python-meh==0.52
python-pam==2.0.2
pytz==2026.1
pyudev==0.24.4
pyxdg==0.28
PyYAML==6.0.3
QtPy==2.4.3
RapidFuzz==3.14.3
regex==2026.2.28
requests==2.32.5
requests-file==3.0.0
requests-ftp==0.3.1
roman-numerals-py==3.1.0
rpm==6.0.1
scipy==1.16.2
seaborn==0.13.2
selinux @ file:///builddir/build/BUILD/libselinux-3.10-build/libselinux-3.10/src
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.10-build/selinux-3.10/python/sepolicy
setools==4.6.0
setuptools==80.10.2
simpleline==1.9.0
six==1.17.0
snowballstemmer==3.0.1
sos==4.11.0
soupsieve==2.8.3
Sphinx==8.2.3
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.49
starlette==1.0.0
statsmodels==0.14.6
systemd-python==235
tables==3.10.2
tabulate==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.40.0
wcwidth==0.6.0
webencodings==0.5.1
wheel==0.45.1
xarray==2026.2.0
xkbregistry==0.3
xlrd==2.0.1
xlsxwriter==3.2.9
zstandard==0.25.0
